*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.movie-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: lightgray;
  margin: 0;
  height: auto;
}
.movie-card{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 50%;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-card-left{
  width: 20%;
  margin-right: 10px;
  background-color: white;
}

.movie-card-left img{
  height: 60%;
  width: 100%;
}

.movie-card-right{
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.movie-card-title{
  height: 50px;
  background-color: white;
}

.movie-card-title h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-card-plot p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.movie-card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  margin: 10px;
}

.movie-card-imdb{
  display: flex;
  flex-direction: row;
  background-color: white;
}
.imdb-img{
  /* width: auto; */
  padding-top: 10px;
  padding-bottom: 2px;
}

.movie-card-imdb p{
  padding-left: 5px;
  padding-top: 5px;
}

.movie-card-stars{
  display: flex;
  flex-direction: row;
  background-color: white;
}

.movie-card-stars h3{
  margin: auto;
  padding-bottom: 5px;
}

.minus-img{
  height: 25%;
  width: auto;
  padding-top: 17px;
  padding-bottom: 8px;
  padding-right: 5px;
}
.star-img{
  height: 50%;
  width: auto;
  padding-top: 10px;
  padding-bottom: 8px;
}
.plus-img{
  height: 25%;
  width: auto;
  padding-top: 17px;
  padding-bottom: 8px;
  padding-left: 5px;
}

.movie-card-btns{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-unfav-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 4cqmax;

}

.movie-card-fav-btn{
  background-color: green;
  color: white;
  border: none;
  padding: 4px;
}

.movie-card-uncart-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 4px;
}

.movie-card-cart-btn{
  background-color: green;
  color: white;
  border: none;
  padding: 4px;
}

